.Activity{
    background-color: #e1e0dd;
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway';

    .titleAct{
        padding-top: 120px;
        font-size: 3rem;
        padding-bottom: 30px;
    }

    .text{
        margin-left: 25%;
        width: 50%;
        font-size: 1.1rem;
        padding-bottom: 80px;
    }
}