.review{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 300px;
    padding: 10px;
    font-size: 1.05rem;

    svg{
        fill: white;
    }

    .text{
        text-align: center;
    }

    .author{
        color: white;
        font-size: 1.15em;
    }

}