.Suzy{
    background-color: #e1e0dd;

    .list{
        width: 100%;
        display: inline-grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
        justify-items: center;
        justify-content: center;
        align-items: center;
        padding-right: 150px;
        padding-left: 150px;
        padding-bottom: 100px;
    }

    .First{
        .MaitTitle{
            font-size: 2rem;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 100px;
            

            P:nth-child(2){
                font-size: 1.5rem;
                font-family: 'Raleway';
            }
        }
    }

    .Second{
        background-color: #e66e4c;
        
        .list{
            grid-gap: 50px;
            padding-top: 100px;
        }
    }
}

@media (max-width: 1050px) {
   .Suzy{
        .list{
            grid-template-columns: repeat(2, 1fr);

        }
    }
}

@media (max-width: 700px) {
    .Suzy{
         .list{
             grid-template-columns: repeat(1, 1fr);
         }
     }
 }

