.RuleItem{
    width: 80%;
    display: flex;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    color: rgb(244, 244, 244);
    padding-bottom: 40px;
    padding-top: 40px;

    .RuleItemTitle{
        font-size: 1.2rem;
        padding-bottom: 10px;
    }

    .RuleItemUnderTitle{
        font-size: 1rem;
        text-transform: uppercase;
        font-size: 'Roboto';
    }

    .RuleItemDesrc{
        line-height: 1.8em;
        width: 50%;
    }
}


@media (max-width: 800px) {
    .RuleItem{
        flex-direction: column;
    }
}
